* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}
body svg path {
  stroke: currentColor;
}

nav {
  width: auto;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7C6A0A;
}
nav p {
  font-size: 3rem;
  font-weight: 400;
}
nav .icons {
  display: flex;
  gap: 20px;
}
nav .icons button {
  background: none;
  border-style: none;
}

article {
  width: auto;
  margin-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  color: #7C6A0A;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
article h1 {
  font-size: 6rem;
  font-weight: 600;
}
article p {
  margin-top: 60px;
  font-size: 2.5rem;
  font-weight: 400;
}
article button {
  background: none;
  border-style: none;
}
article button {
  width: 260px;
  height: 72px;
  margin-top: 80px;
  background-color: #FA9500;
  border-radius: 35px;
  color: white;
  font-size: 2.3rem;
  font-weight: 700;
}
article button:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
article img {
  width: 25vw;
  border-radius: 20px;
}

section {
  width: 100%;
  height: auto;
  padding: 60px;
}
section h2 {
  font-size: 5rem;
  font-weight: 400;
  color: #7C6A0A;
}
section .healthcare, section .furniture {
  padding-bottom: 30px;
}
section .healthcare .cards-section, section .furniture .cards-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  flex-wrap: wrap;
  -moz-column-gap: 200px;
       column-gap: 200px;
  row-gap: 80px;
}
section .healthcare .cards-section .product-card, section .furniture .cards-section .product-card {
  position: relative;
  width: 324px;
  height: 502px;
  padding: 20px;
  background-color: #FFDAC6;
  color: #7C6A0A;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
section .healthcare .cards-section .product-card .icon, section .furniture .cards-section .product-card .icon {
  position: absolute;
  top: 16px;
  right: 16px;
  color: inherit;
}
section .healthcare .cards-section .product-card .product-img, section .furniture .cards-section .product-card .product-img {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section .healthcare .cards-section .product-card .product-img img, section .furniture .cards-section .product-card .product-img img {
  width: 241px;
  height: 300px;
  background-image: cover;
  border-radius: 6px;
}
section .healthcare .cards-section .product-card h3, section .furniture .cards-section .product-card h3 {
  font-size: 2.5rem;
  font-weight: 600;
}
section .healthcare .cards-section .product-card p, section .furniture .cards-section .product-card p {
  font-size: 1.5rem;
  font-weight: 400;
}
section .furniture .cards-section .product-card {
  background-color: #BABD8D;
  color: #fff;
}

.info-section {
  padding-top: 0;
  color: #7C6A0A;
}
.info-section h2 {
  font-weight: 500;
}

.about-us .mission-section {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.about-us .mission-section div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  font-size: 3rem;
  font-weight: 500;
  color: #E86424;
  text-align: center;
}

.gallery .gallery-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 100px;
}
.gallery .gallery-images img {
  width: 30vw;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 5px 35%;
     object-position: 5px 35%;
  border-radius: 16px;
}
.gallery .gallery-images img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.location {
  color: #E86424;
}
.location h3 {
  font-size: 3.5rem;
  font-weight: 400;
}
.location p {
  font-size: 2.5rem;
  font-weight: 400;
}
.location .map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 30px;
}
.location .map img {
  width: 100%;
}

footer {
  background-color: #fa9500;
  width: 100%;
  height: auto;
  padding: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 60px;
  color: white;
}
footer h3 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 30px;
}
footer p {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 500;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}/*# sourceMappingURL=main.css.map */