$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$font-stack: 'IBM Plex Sans' , sans-serif;

@mixin flexCenter($direction, $content, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}

@mixin buttonStyle {
  button {
    background: none;
    border-style: none;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $primary-color;
  font-family: $font-stack;

  svg path {
    stroke: currentColor;
  }
}

nav {
  width: auto;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  @include flexCenter(row, space-between, center);
  color: $primary-text-color;

  p {
    font-size: 3rem;
    font-weight: 400;
  }

  .icons {
    display: flex;
    gap: 20px;
    
    svg {
      color: $primary-text-color;
    }

    @include buttonStyle;
  }
}

article {
  width: auto;
  margin-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  color: $primary-text-color;
  @include flexCenter(row, space-between, center);

  h1 {
    font-size: 6rem;
    font-weight: 600;
  }

  p {
    margin-top: 60px;
    font-size: 2.5rem;
    font-weight: 400;
  }

  @include buttonStyle;
  button {
    width: 260px;
    height: 72px;
    margin-top: 80px;
    background-color: #FA9500;
    border-radius: 35px;
    color: white;
    font-size: 2.3rem;
    font-weight: 700;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
    }
  }

  img {
    width: 25vw;
    border-radius: 20px;
  }
}

section {
  width: 100%;
  height: auto;
  padding: 60px;

  h2 {
    font-size: 5rem;
    font-weight: 400;
    color: $primary-text-color;
  }

  .healthcare {
    padding-bottom: 30px;

    .cards-section {
      @include flexCenter(row, center, center);
      width: 100%;
      padding-top: 40px;
      flex-wrap: wrap;
      column-gap: 200px;
      row-gap: 80px;

      .product-card {
        position: relative;
        width: 324px;
        height: 502px;
        padding: 20px;
        background-color: $secundary-color;
        color: $primary-text-color;
        border-radius: 8px;
        @include flexCenter(column, center, center);
        gap: 12px;
  
        .icon {
          position: absolute;
          top: 16px;
          right: 16px;
          color: inherit;
        }
  
        .product-img {
          width: 100%;
          @include flexCenter(row, center, center);
  
          img {
            width: 241px;
            height: 300px;
            background-image: cover;
            border-radius: 6px;
          }
        }
  
        h3 {
          font-size: 2.5rem;
          font-weight: 600;
        }
        
        p {
          font-size: 1.5rem;
          font-weight: 400;
        }
      }
    }
  }

  .furniture {
    @extend .healthcare;

    .cards-section {
      .product-card {
        background-color: $tertiary-color;
        color: #fff;
      }
    }
  }
}

.info-section {
  padding-top: 0;
  color: $primary-text-color;

  h2 {
    font-weight: 500;
  }
}

.about-us {
  .mission-section {
    width: 90%;
    margin: 0 auto;
    padding-top: 100px; 
    padding-bottom: 180px; 
    @include flexCenter(row, space-between, center);

    div {
      @include flexCenter(row, space-between, center);
      gap: 24px;
      font-size: 3rem;
      font-weight: 500;
      color: #E86424;
      text-align: center;
    }
  }
}

.gallery {
  .gallery-images {
    @include flexCenter(row, space-between, center);
    padding-top: 40px;
    padding-bottom: 100px;

    img {
      width: 30vw;
      height: 45vh;
      object-fit: cover;
      object-position: 5px 35%;
      border-radius: 16px;

      &:hover {
        transform: scale(1.1);
        transition: transform 0.3s;
      }
    }
  }
}

.location {
  color: #E86424;

  h3 {
    font-size: 3.5rem;
    font-weight: 400;
  }
  
  p {
    font-size: 2.5rem;
    font-weight: 400;
  }
  
  .map {
    @include flexCenter(row, center, center);
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;

    img {
      width: 100%;
    }
  }
}

footer {
  background-color: #fa9500;
  width: 100%;
  height: auto;
  padding: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 60px;
  color: white;

  h3 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 30px;
  }

  p {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 500;
  }

  .social-media {
    @include flexCenter(row, center, center);
    gap: 16px;
  }
}